---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/Layout.astro';
import BlogPost from '../../components/BlogPost.astro';

/** @type {import('astro').GetStaticPaths} */
export async function getStaticPaths(): Promise<import('astro').GetStaticPathsResult> {
  const allPosts = await getCollection("blog");

  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts as typeof allPosts },
    };
  });
}

const { tag } = Astro.params;
const posts = Astro.props.posts as Awaited<ReturnType<typeof Astro.glob>>;
---
<BaseLayout pageTitle={tag}>
  <p>Posts etiquetados con {tag}</p>
  <ul>
    {posts.map((post) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title}/>)}
  </ul>
</BaseLayout>